[MASTER]
ignore-patterns=
    user_management/symptom_analysis/
    user_management/migrations/
    env/
    manage.py/
load-plugins=
    pylint_django

[DJANGO]
django-settings-module=allergy_analyzer.settings